.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

terraform/eipExample/\.terraform/

*.un~

*.swp

terraform/eipExample/terraform\.tfstate

terraform/eipExample/terraform\.tfstate\.backup

terraform/eipExample/\.terraform\.tfstate\.lock\.info

\.classpath

\.project

\.settings/

bin/
